* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #383838;
    font-weight: 300;
}

body {
    background: #fffef6;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.main-menu {
    background: #312224;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.main-menu ul li a{
    font-family: 'Indie Flower', cursive;
    display: inline-block;
     text-decoration: none;
     padding: 10px 0;
    color: #fda921;
    transition: color 0.5s ease-in-out;
 }

.main-menu ul li a:hover {
    color: darkred;
}

header {
    background-image: url(https://images.pexels.com/photos/573299/pexels-photo-573299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Caveat Brush', cursive;
}

main {
    display: flex;
    padding: 15px;
}

main div {
    padding: 15px;
}

.left-text {
    flex: 2;
    font-family: 'Raleway', sans-serif;
}

.left-text p{
    letter-spacing: 1px;
    font-size: 15px;
}

.right-text {
     flex: 1;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.right-text ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.right-text ul li {
    padding: 8px 0;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery a {
    width: calc(100%/3);
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.image-grid div:hover {
    opacity: 1;
}
/*
.image01 {
    background-image: url(https://images.pexels.com/photos/445109/pexels-photo-445109.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image02 {
    background-image: url(https://images.pexels.com/photos/37819/pexels-photo-37819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image03 {
    background-image: url(https://images.pexels.com/photos/674268/pexels-photo-674268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image04 {
    background-image: url(https://images.pexels.com/photos/175718/pexels-photo-175718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image05 {
    background-image: url(https://images.pexels.com/photos/701747/pexels-photo-701747.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image06 {
    background-image: url(https://images.pexels.com/photos/373945/pexels-photo-373945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image07 {
    background-image: url(https://images.pexels.com/photos/6399/woman-girl-technology-music.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image08 {
    background-image: url(https://images.pexels.com/photos/185517/pexels-photo-185517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image09 {
    background-image: url(https://images.pexels.com/photos/242816/pexels-photo-242816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
*/
footer {
    background: #000;
}

footer p {
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
/*
@media screen and (max-width: 600px){
    .image-grid {
        flex-direction: column;
    }

    .image-grid div {
        width: 100%;
        height: 400px;
    }
}
*/
a {
    text-decoration: none;
}

.gallery img {
    margin-bottom: 4px;
    max-width: 200px;
    max-height: 100px;
}
